.add-photo {
  position: relative;
}

.add-photo__text {
  width: 280px;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 28px;
}

.add-photo__slogan {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: $dark-blue;
  text-align: center;
}

.add-photo__slogan--one {
  margin-bottom: 0;
  padding: 0;
}

.add-photo__slogan--two {
  margin-top: 0;
  padding: 0;
}

.add-photo__form {
  background-color: $light-gray;
}

.add-photo__form::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #dddfe0;

  bottom: 201px;
  width: 100%;
}


.add-photo__image {
  width: 280px;
  height: 374px;
}

.add-photo__edit {
  width: 100%;
}

.add-photo__wrapper,
.add-photo__buttons {
  width: 280px;
  margin: 0 auto;
  padding-top: 20px;
}

.add-photo__buttons {
  padding-left: 0;
}

.add-photo__button {
  width: 280px;
  padding: 15px 50px;
  border-radius: 30px;

  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.add-photo__post-it {
  margin: 13px 0;
  margin-top: 27px;
}

.add-photo__button--active {
  background-color: $light-gray;
  color: $pink;
  border: 2px solid $pink;

  &:hover,
  &:focus {
    background-color: $pink;
    color: $white;
  }

  &:active {
    color: transparentize($white, 0.7);
  }
}

.add-photo__cancel {
  background-color: $light-gray;
  opacity: 0.1;
  border: 2px solid $dark-blue;
  margin-bottom: 45px;

  &:hover,
  &:focus {
    opacity: 0.3;
  }

  &:active {
    background-color: $dark-blue;
    border-color: $dark-blue;
    opacity: 0.3;
    color: transparentize($white, 0.7);
  }
}

@media (min-width: $tablet-width) {
  .add-photo__wrapper {
    width: 620px;
    padding-top: 57px;
    padding-bottom: 30px;
  }

  .add-photo__text {
    width: 620px;
    padding-top: 26px;
    padding-bottom: 51px;
  }

  .add-photo__slogan {
    width: 100%;
    font-size: 18px;
  }

  .add-photo__form::after {
    display: none;
  }

  .add-photo__user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .add-photo__image {
    width: 300px;
    height: 400px;
  }

  .add-photo__edit {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .add-photo__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 216px;

    width: 100%;
    padding-top: 41px;
    padding-left: 27px;
  }

  .add-photo__button {
    width: 260px;
    padding-bottom: 17px;
    margin-bottom: 25px;
  }
}

@media (min-width: $desktop-width) {
  .add-photo__text {
    width: 940px;
    padding-top: 0;
    padding-bottom: 48px;
  }

  .add-photo__slogan--one {
    margin-top: 5px;
  }

  .add-photo__form {
    background-color: $white;
  }

  .add-photo__wrapper {
    width: 940px;
    padding-bottom: 51px;
    padding-left: 80px;
    padding-right: 60px;
    background-color: $light-gray;
  }

  .add-photo__edit {
    width: 410px;
  }

  .add-photo__buttons {
    width: 100%;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-left: 0;
    padding-top: 5px;
    margin-bottom: 6px;
  }

  .add-photo__button {
    width: 183px;
    padding: 8px 33px;
    margin-bottom: 0;
    margin-top: 0;
  }
}
