.copyright__label {
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 135px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}

@media (min-width: $desktop-width) {

}
