.copyright {
  width: 130px;
  // padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.copyright__label {
  line-height: 18px;
  margin-top: 16px;
}

.copyright__link {
  margin-top: 10px;
}

.copyright__link {
  color: $pink;

  &:hover {
    color: $dark-blue;
  }

  &:active {
    color: transparentize($dark-blue, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    margin-right: 0;
  }

  .copyright__link {
    margin-top: 7px;
  }

  .copyright__label {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: $dark-blue;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    width: 150px;
    margin-left: 0;
  }

  .copyright__label {
    font-size: 18px;
  }

  .copyright__link {
    margin-top: 12px;
  }
}
