.copyright {
  width: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.copyright__label {
  line-height: 18px;
}

.copyright__icon {
  path {
    fill: $pink;
  }

  &:hover {
    path {
      fill: $dark-blue;
    }
  }

  &:active {
    path {
      fill: transparentize($dark-blue, 0.3);
    }
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 135px;
    margin-right: 0;
  }
}
