.download-app {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.download-app__wrapper {
  width: 280px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
}

.download-app__background {
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.download-app__hand {
  margin: 0;
  padding: 0;
  width: 320px;
  height: 397px;
  background-image: url("../../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 100%;
}

.download-app__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 280px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.download-app__btn {
  width: 280px;

  font-size: 18px;
  line-height: 18px;
  font-weight: bold;

  padding: 13px 35px;
  background-color: $dark-blue;
  color: $white;
  border: 2px solid white;
  border-radius: 30px;
}

.download-app__link {
  display: block;
  color: $white;
}

.download-app__devices {
  font-weight: 300;
  color: $white;
  padding: 0;
  margin: 0;
}

.download-app__slogan {
  font-weight: 300;
  color: $white;
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 350px;
}

.download-app__download {
  min-height: 250px;
  background-color: $dark-blue;
  padding-top: 15px;
}

@media (min-width: $tablet-width) {
  .download-app__wrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .download-app__title {
    width: 245px;
    text-align: center;
    margin-top: 100px;
  }

  .download-app__slogan {
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 35px;

  }

  .download-app__background {
    margin: 0;
    padding: 0;
    height: 620px;
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .download-app__hand {
    width: 660px;
    height: 619px;
    background-image: url("../../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 0 100%;
  }

  .download-app__download {
    background-color: transparent;
  }

  .download-app__btn {
    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .download-app {
    background-image: url("../../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
