.download-app {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.download-app__container {
  width: 320px;
  margin: 0 auto;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position-x: 1px;
  background-position-y: 109px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 258px auto;
  }
}

.download-app__wrapper {
  width: 280px;
  margin: 0 auto;
  text-align: center;
}

.download-app__title {
  margin-bottom: 320px;
}

.download-app__list {
  width: 208px;
  margin: 0 auto;
  padding: 0;
  margin-top: 29px;
  margin-bottom: 17px;
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.download-app__btn {
  width: 280px;
  display: block;

  font-size: 18px;
  line-height: 18px;
  font-weight: bold;

  padding: 15px 35px;
  padding-bottom: 18px;
  background-color: transparent;
  color: $white;
  border: 2px solid white;
  border-radius: 30px;

  &:hover,
  &:focus {
    color: $pink;
    background-color: $white;
  }

  &:active {
    color: transparentize($pink, 0.3);
  }
}

.download-app__link {
  display: block;
  color: $white;
}

.download-app__devices {
  font-weight: 300;
  color: $white;
  padding: 0;
  margin: 0;
}

.download-app__slogan {
  font-weight: 300;
  color: $white;
  font-size: 24px;
  line-height: 30px;
  margin-top: 22px;
}

.download-app__download {
  min-height: 250px;
  padding-top: 22px;
  padding-bottom: 31px;
}

@media (min-width: $tablet-width) {
  .download-app {
    width: 100%;
    height: 619px;
  }

  .download-app__container {
    width: 620px;
    height: 100%;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: left -39px bottom 1px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 700px auto;
    }
  }

  .download-app__wrapper {
    width: 620px;
  }

  .download-app__title {
    width: 245px;
    text-align: center;
    margin-top: 93px;
    margin-bottom: 0;
    margin-left: 26px;
  }

  .download-app__slogan {
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
  }

  .download-app__list {
    width: 208px;
    margin: 0 auto;
    margin-top: 43px;
    margin-bottom: 32px;
    margin-left: 47px;
  }

  .download-app__download {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    background-color: transparent;
    padding-top: 3px;
  }

  .download-app__btn {
    width: 300px;
  }

  .download-app__devices {
    width: 300px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .download-app {
    height: 746px;
  }

  .download-app__container {
    width: 940px;
    height: 100%;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: left 17px bottom 1px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: 1050px auto;
    }
  }

  .download-app__wrapper {
    margin-left: 0;
  }

  .download-app__title {
    margin-top: 108px;
    margin-bottom: 50px;
  }

  .download-app__slogan {
    font-size: 50px;
    line-height: 60px;
  }

  .download-app__btn {
    font-size: 21px;
    line-height: 18px;
    font-weight: bold;
    padding: 15px 25px;
    border: 3px solid white;
  }

  .download-app__list {
    margin-top: 65px;
    margin-bottom: 50px;
  }
}
