.effect {
  display: none;
}


@media (min-width: $tablet-width) {
  .effect {
  display: block;
}

  .effect__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    margin: 60px 20px;
  }

  .effect__info {
    width: 310px;
  }
}

@media (min-width: $desktop-width) {
  .effect__wrapper {
    width: 960px;
    padding: 10px;
  }

  .effect__info {
    width: 570px;
  }

  .effect__title {
    font-size: 30px;
    line-height: 30px;
  }

  .effect__text {
    font-size: 18px;
    line-height: 30px;
  }

  .effect__link {
    font-size: 18px;
    line-height: 30px;
    color: $pink;
    text-decoration: underline;
  }
}
