.effect {
  display: none;
}

@media (min-width: $tablet-width) {
  .effect {
    display: block;
    background-color: $white;
  }

  .effect__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
  }

  .effect__info {
    width: 310px;
    padding-top: 76px;
    padding-bottom: 113px;
    margin-left: 310px;
    position: relative;
  }

  .effect__info::before {
    content: url("../../img/effect24.png");
    position: absolute;
    top: 59px;
    left: -309px;
    text-align: center;
    margin: 0 auto;

    width: 238px;
    height: 276px;
  }

  .effect__slogan {
    width: 170px;
  }

  .effect__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
  }

  .effect__text {
    width: 295px;
    margin: 0;
    margin-bottom: 10px;
  }

  .effect__space-one {
    display: none;
  }

  .effect__link {
    color: $pink;
    font-size: 14px;
    line-height: 24px;
    border-bottom: 1px solid $pink;
  }
}

@media (min-width: $desktop-width) {
  .effect {
    background-color: $light-gray;
  }

  .effect__wrapper {
    width: 960px;
    padding: 0 10px;
  }

  .effect__title {
    line-height: 30px;
    margin-bottom: 25px;
  }

  .effect__title br {
    display: none;
  }

  .effect__text {
    width: 524px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 28px;
  }

  .effect__space-one {
    display: block;
  }

  .effect__space-two {
    display: none;
  }

  .effect__link {
    font-size: 18px;
    line-height: 30px;
  }

  .effect__info {
    width: 570px;
    margin-left: 365px;
    padding-top: 97px;
    padding-bottom: 115px;
  }

  .effect__info::before {
    content: url("../../img/effect24-desktop.png");
    position: absolute;
    top: 22px;
    left: -364px;
    text-align: center;
    margin: 0 auto;

    width: 238px;
    height: 276px;
  }

  .effect__slogan {
    width: 300px;
  }
}
