.features {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.features__wrapper {
  width: 280px;
  margin-right: 20px;
  margin-left: 20px;
}

.features__slogan {
  font-size: 24px;
  font-weight: 300;
}

.features__list {
  list-style: none;
  padding: 0;
}

.features__title {
  font-weight: bold;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .features__wrapper {
    min-width: 620px;
    width: 100%;
  }

  .features__container {
    width: 620px;
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .features__image--three {
    order: 2;
  }

  .features__slogan {
    font-size: 40px;
    line-height: 48px;
  }

  .features__slogan--one {
    margin-bottom: 0;
  }

  .features__slogan--two {
    margin-top: 0;
    width: 330px;
    margin: auto;
  }

  .features__list {
    width: 320px;
  }

  .features__image {
    width: 268px;
  }

  .features__description {
    text-align: left;
  }

  .features-item {
    width: 310px;
  }
}

@media (min-width: $desktop-width) {}
