.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 21px 20px;
}

.logo__link {
  display: block;
}

@media (min-width: $desktop-width) {
  .logo {
    width: 150px;
  }

  .logo__link {
    padding-top: 20px;
  }
}
