.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 21px 20px;
}

.logo__mobile {
  display: block;
}

.logo__link {
  color: $white;

  &:hover {
    color: $pink;
  }

  &:active {
    color: transparentize($white, 0.3);
  }
}

.logo__tablet {
  display: none;
}

.logo__desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .logo__mobile {
    display: none;
  }

  .logo__tablet {
    display: block;
    margin-top: 5px;
  }
}

.logo__desktop {
  display: none;
}

@media (min-width: $desktop-width) {
  .logo {
    width: 150px;
  }

  .logo__mobile {
    display: none;
  }

  .logo__tablet {
    display: none;
  }

  .logo__desktop {
    display: block;
    margin-top: -13px;
    margin-left: -20px;
  }

  .logo__link {
    padding-top: 20px;
  }
}
