.main-nav {
  width: 100%;
  margin: 0 auto;
}

.main-nav {
  position: relative;
  background-color: $dark-blue;

  width: 100%;
  min-height: 51px;
  margin: 0 auto;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  background-image: url("../img/icon-menu-burger.svg");
  background-repeat: no-repeat;

  position: absolute;
  top: 1px;
  left: -2px;

  width: 50px;
  height: 24px;
}

.main-nav--closed .main-nav__toggle:hover::before,
.main-nav--closed .main-nav__toggle:focus::before {
  content: "";
  background-image: url("../img/icon-menu-burger-hover.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 1px;
  left: -2px;

  width: 50px;
  height: 24px;
}

.main-nav--closed .main-nav__toggle:active::before {
  content: "";
  background-image: url("../img/icon-menu-burger-hover.svg");
  opacity: 0.3;
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  background-image: url("../img/icon-menu-cross.svg");
  background-repeat: no-repeat;

  position: absolute;
  top: 1px;
  left: -2px;

  width: 24px;
  height: 24px;
}

.main-nav--opened .main-nav__toggle:hover::before,
.main-nav--opened .main-nav__toggle:focus::before {
  content: "";
  background-image: url("../img/icon-menu-cross-hover.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 1px;
  left: -2px;

  width: 24px;
  height: 24px;
}

.main-nav--opened .main-nav__toggle:active::before {
  content: "";
  background-image: url("../img/icon-menu-cross-hover.svg");
  opacity: 0.3;
}


@media (max-width: $mobile-width-only) {

  .main-nav--closed .main-nav__item {
    display: none;

  }

  .main-nav--opened .main-nav__item {
    display: block;

  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }
}

.main-nav__link {
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  color: $white;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $pink;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  display: inline-block;
  padding: 15px 0;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .main-nav__item {
    margin: 0;
    padding: 45px 80px;
    padding-bottom: 40px;
    padding-right: 0;
    text-align: center;
    border-top: none;
    border-bottom: none;
  }

  .main-nav__link {
    line-height: 18px;
    font-weight: normal;
    text-transform: none;

    &:active {
      color: transparentize($white, 0.3);
    }
  }

  .main-nav__link--active {
    border-bottom: 2px solid $white;

    &:hover,
    &:focus {
      color: $white;
    }

    &:active {
      color: $white;
      opacity: 1;
    }
  }
}
