.page-header {
  width: 100%;
  background-color: #1d2631;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left 0% bottom 270px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/bg-back-mobile@2x.jpg");
  }
}

.page-header__inner {
  background-position: left 0% bottom -665%;
}

.page-header__wrapper {
  padding: 0;
  margin: 0;
  background-color: $dark-blue;
}

.page-header__nav {
  margin: 0;
  text-align: center;
}

.page-header__logo {
  height: 70px;
  margin: 0;
  border-bottom: 1px solid #000000;
}

.page-header__toggle {
  margin-left: auto;
}

.page-header__photo-caption {
  width: 175px;
  text-align: center;
  margin: 0 auto;
  padding-top: 13px;
  padding-bottom: 65px;
}

.page-header__photo-title {
  color: $white;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.page-header__form-caption {
  width: 280px;
  text-align: center;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 36px;
}

.page-header__form-title {
  color: $white;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

@media (min-width: $tablet-width) {
  .page-header {
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-position: 50% 100%;
    background-size: auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .page-header__inner {
    background-position: 50% -750%;
  }

  .page-header__logo {
    height: 110px;
  }

  .page-header__photo-caption {
    width: 360px;
    text-align: center;
    margin: 0 auto;
    padding-top: 69px;
    padding-bottom: 140px;
  }

  .page-header__photo-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 50px;
    line-height: 60px;
  }

  .page-header__form-caption {
    width: 485px;
    padding-top: 35px;
    padding-bottom: 47px;
  }

  .page-header__form-title {
    font-size: 50px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-image: url("../../img/bg-back-desktop@1x.jpg");
    background-position: top center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/bg-back-desktop@2x.jpg");
      background-size: cover;
    }
  }

  .page-header__top {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__wrapper {
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
  }

  .page-header__nav {
    width: 625px;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__logo {
    border-bottom: none;
  }

  .page-header__photo-caption {
    width: 365px;
    text-align: center;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 101px;
  }

  .page-header__form-caption {
    width: 820px;
    margin: 0 auto;
    text-align: center;
    padding-top: 29px;
    padding-bottom: 68px;
  }
}
