.page-footer {
  background-color: $white;
  line-height: 18px;
  color: $dark-blue;
  text-align: center;
}

.page-footer__wrapper {
  min-height: 285px;
  padding-top: 40px;
  padding-bottom: 37px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page-footer__index {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__index {
    display: block;
  }

  .page-footer__wrapper {
    width: 620px;
    min-height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    // padding-top: 29px;
    padding-top: 22px;
  }

  .page-footer__wrapper--index {
    padding-top: 22px;
  }

  .page-footer__logo {
    width: 150px;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 960px;
    padding: 70px 10px;
    padding-top: 89px;
  }

  .page-footer__index .page-footer__wrapper {
    padding-top: 60px;
  }

  .page-footer__form .page-footer__wrapper {
    padding-top: 15px;
  }
}
