.page-footer {
  background-color: $white;
  line-height: 18px;
  color: $dark-blue;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-footer__index {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__index {
    display: block;
  }

  .page-footer__wrapper {
    width: 620px;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
  }

  .page-footer__logo {
    margin-top: -15px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 960px;
  }
}
