.photo-users {
  background-color: $white;
  text-align: center;
}

.photo-users__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

.photo-users__catalog {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.photo-users__item {
  width: 280px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.photo-users__rubric {
  width: 240px;
  margin: 0 auto;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 49px;
}

.photo-users__slogan {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  color: $dark-blue;
  font-weight: normal;
}

.photo-users__photo {
  width: 280px;
  height: 180px;
}

@media (min-width: $tablet-width) {
  .photo-users__wrapper {
    width: 620px;
    margin: 0 auto;
  }

  .photo-users__catalog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .photo-users__item {
    width: 300px;
    margin: 0;
  }

  .photo-users__rubric {
    width: 450px;
    padding-top: 92px;
    padding-bottom: 76px;
  }

  .photo-users__slogan {
    font-size: 18px;
  }
  .photo-users__photo {
  width: 300px;
  height: 300px;
}
}

@media (min-width: $desktop-width) {
  .photo-users__wrapper {
    width: 940px;
  }

  .photo-users__rubric {
    width: 575px;
    padding-top: 100px;
    padding-bottom: 93px;
  }

  .photo-users__slogan {
    font-size: 18px;
  }
}
