.photo-day {
  position: relative;
}

.photo-day_photo {
  width: 100%;
}

.photo-day__label {
  background-color: $pink;
  padding: 10px 25px;
  padding-bottom: 13px;

  color: $white;
  font-size: 12px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {}

@media (min-width: $desktop-width) {}
