.price-list {
  transform: translateX(-258px);
  border-collapse: collapse;
  position: relative;
}

.price-list__table {
  margin: 0;
  padding: 0;
  border: 2px solid $light-gray;
}

.price-list__row td {
  border: 2px solid #e5e5e5;
}

.price-list__head {
  background-color: $dark-blue;
  border: 2px solid #e5e5e5;
  padding: 16px 68px;
  padding-bottom: 20px;
}

.price-list__head--hidden {
  background-color: $light-gray;
  border-top: 2px solid #f2f2f2;
}

.price-list__tariff-name {
  min-width: 140px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: $white;

  margin: 0;
  margin-bottom: 2px;
}

.price-list__tariff-name--hit {
  position: relative;
}

.price-list__tariff-name--hit::before {
  content: "";
  background-image: url("../../img/bg-hit.svg");
  position: absolute;
  left: -70px;
  top: -16px;
  width: 74px;
  height: 73px;
}

.price-list__tariff-name--hit::after {
  content: "хит";
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: $white;

  position: absolute;
  transform: rotate(-45deg);
  left: -68px;
  top: -10px;
  width: 74px;
  height: 73px;
}

.price-list__cost {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: $white;

  margin: 0;
}

.price-list__item {
  display: none;
}

.price-list__item-hidden {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $dark-blue;
  font-weight: normal;
}

.price-list__cell {
  text-align: left;
  padding: 14px 24px;
  padding-bottom: 15px;
  position: relative;
}

.price-list__value--yes::after {
  content: url("../../img/icon-yes.svg");
  position: absolute;
  width: 30px;
  height: 22px;

  right: 17px;
  top: 18px;
}

.price-list__value--no::after {
  content: url("../../img/icon-no.svg");
  position: absolute;
  width: 27px;
  height: 27px;

  right: 19px;
  top: 13px;
}

@media (min-width: $tablet-width) {
  .price-list {
    transform: none;
    width: 100%;
  }

  .price-list__head--hidden {
    border-top: none;
    border-left: none;
  }

  .price-list__item {
    display: table-cell;
    padding: 7px 18px;

    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
    color: $dark-blue;
  }

  .price-list__item-hidden {
    display: none;
  }

  .price-list__row th,
  .price-list__row td {
    width: 152px;
  }

  .price-list__head {
    padding: 15px 0;
    padding-bottom: 5px;
  }

  .price-list__tariff-name {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  .price-list__cost {
    font-size: 18px;
    margin: 0;
    padding: 0;
  }

  .price-list__tariff-name--hit::before {
    content: "";
    background-image: url("../../img/bg-hit-tablet.svg");
    position: absolute;
    left: 0;
    top: -15px;
    width: 61px;
    height: 61px;
  }

  .price-list__tariff-name--hit::after {
    position: absolute;
    transform: rotate(-45deg);
    left: 1px;
    top: -18px;
  }

  .price-list__value--yes::after {
    right: 59px;
    top: 10px;
  }

  .price-list__value--no::after {
    right: 61px;
    top: 7px;
  }
}

@media (min-width: $desktop-width) {
  .price-list__head {
  padding: 16px 0;
  padding-bottom: 22px;
  }

  .price-list__row th,
  .price-list__row td {
    width: 160px;
  }

  .price-list__tariff-name {
    font-size: 18px;
  }

  .price-list__cost {
    font-size: 24px;
  }

  .price-list__item {
    padding: 13px 20px;
    padding-bottom: 15px;
    font-size: 18px;
  }
  .price-list__value--yes::after {
    margin: auto;
    right: 0px;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .price-list__value--no::after {
    margin: auto;
    right: 0px;
    top: 0;
    bottom: 0;
    left: 0;
  }

    .price-list__tariff-name--hit::before {
    background-image: url("../../img/bg-hit.svg");
    left: 0;
    top: -16px;
    width: 74px;
    height: 73px;
  }

  .price-list__tariff-name--hit::after {
    left: 3px;
    top: -11px;
  }
}
