.reviews {
  position: relative;
  z-index: 50;
  background-color: $white;
  margin-bottom: 0;
}

.reviews__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  padding-top: 42px;
}

.reviews__item {
  text-align: center;
  margin: 0;
}

.reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  font-style: normal;
  color: #000000;
}

.reviews__author-profession {
  display: none;
}

.reviews__text {
  width: 270px;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: $dark-blue;

  margin-top: 14px;
}

.reviews__buttons {
  display: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .reviews__wrapper {
    width: 620px;
    padding-top: 0;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .reviews__text {
    width: 100%;
    font-size: 18px;
    order: 1;
  }

  .reviews__author-name {
    font-size: 20px;
    order: 2;
    padding-top: 17px;
  }

  .reviews__author-profession {
    display: block;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
    color: $dark-blue;

    padding-top: 2px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: 50% 21%;
  }

  .reviews__wrapper {
    width: 940px;
    padding-top: 185px;
    padding-bottom: 39px;
  }

  .reviews__list {
    width: 100%;
    position: relative;
  }

  .reviews__text {
    width: 690px;
    margin: 0 auto;
  }

  .reviews__author-name {
    font-size: 24px;
    padding-top: 35px;
  }

  .reviews__author-profession {
    font-size: 18px;
  }

  .reviews__toggles {
    display: none;
  }

  .reviews__buttons {
    display: block;
    position: relative;
  }

  .reviews__button {
    position: absolute;
    background-color: transparent;
    width: 22px;
    height: 42px;
    font-size: 0;
  }

  .reviews__button--prev {
    top: -163px;
    left: 0;
  }

  .reviews__button--prev::before {
    content: "";
    position: absolute;
    cursor: pointer;
    background-image: url("../img/icon-review-arrow-left.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
    top: 0;
    left: 0;

    width: 22px;
    height: 42px;
  }

  .reviews__button--prev:hover::before,
  .reviews__button--prev:focus::before {
    content: "";
    opacity: 0.6;
  }

  .reviews__button--prev:active::before {
    content: "";
    opacity: 0.1;
  }

  .reviews__button--next {
    top: -163px;
    right: 0;
  }

  .reviews__button--next::after {
    content: "";
    position: absolute;
    cursor: pointer;
    background-image: url("../img/icon-review-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
    top: 0;
    right: 0;

    width: 22px;
    height: 42px;
  }

  .reviews__button--next:hover::after,
  .reviews__button--next:focus::after {
    content: "";
    opacity: 0.6;
  }

  .reviews__button--next:active::after {
    content: "";
    opacity: 0.1;
  }
}
