.tariffs {
  background-color: $light-gray;
}

.tariffs__wrapper {
  width: 100%;
  overflow: hidden;
}

.tariffs__table {
  width: 620px;
  background-color: $white;

}

.tariffs__toggles {
  text-align: center;
}
