.tariffs {
  bottom: 70px;
  background-color: $light-gray;
  background-image: url("../../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 1px -35px;
  margin-top: 0;
}

.tariffs__wrapper {
  width: 100%;
  overflow: hidden;
  padding-top: 123px;
  padding-bottom: 42px;
}

.tariffs__table {
  width: 620px;
  background-color: $white;
  margin-bottom: 33px;
}

.tariffs__toggles {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .tariffs {
    background-position: 1px -29px;
  }

  .tariffs__wrapper {
    width: 620px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 63px;
  }

  .tariffs__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .tariffs {
    // background-position: 1px -14px;
    background-position: right;
    background-size: cover;
  }

   .tariffs__wrapper {
    width: 940px;
    padding-top: 148px;
    padding-bottom: 35px;
  }
}
