.user-comment {
  margin: 0;
  padding: 18px;
  padding-bottom: 19px;
  margin-bottom: 20px;
  background-color: $light-gray;
}

.user-comment__likes {
  position: relative;
  margin-left: 31px;
  margin-top: 9px;
  margin-bottom: 0;
  color: $pink;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.user-comment__likes::before {
  content: url("../../img/icon-heart.svg");
  position: absolute;
  left: -31px;
  bottom: 10px;
  width: 13px;
  height: 12px;
}

.user-comment__author {
  font-weight: bold;
  font-style: normal;
}

.user-comment__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.user-comment__text {
  margin-top: 0;
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .user-comment {
    min-height: 155px;
    padding-top: 24px;
    padding-left: 28px;
    padding-bottom: 0px;

    display: flex;
    flex-direction: column;
  }

  .user-comment__text {
    margin-bottom: 0px;
    flex-grow: 1;
  }

  .user-comment__likes {
    margin-bottom: 22px;
    margin-left: 0px;
  }

  .user-comment__likes::before {
    left: 227px;
    bottom: 11px;

  }
}
