.user-comment__likes {
  color: $pink;
  font-size: 12px;
  text-transform: uppercase;
}

.user-comment__author {
  font-weight: bold;
  font-style: normal;
}

.user-comment__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {


}

@media (min-width: $desktop-width) {

}
