$dark-blue: #283645;
$white: #ffffff;


.page-header__nav {
  background-color: $dark-blue;
}

.page-header__logo {
  background-color: $dark-blue;
}

.page-header__img {
  position: relative;
}

.page-header__img--hand {
  position: absolute;
  top: 176px;
  left: 0px;
}


